.calendar {
    color: red;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    padding: 14px 24px; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-data {
    font-size: 36px;
}

.current-month {
    color: #5167f4;
}

.header-right-side {
    display: flex;
    align-items: center;
    gap: 12px;
}

.more-btn {
    margin-right: 16px;
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.navigation-buttons button {
    background-color: black;
    color: white;
    width: 42px;      
    height: 42px;
    border-radius: 50%;  
    display: flex;       
    justify-content: center;
    align-items: center;
    padding: 0;         
    border: none;
    transition: all 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #5167f4;
}

.navigation-buttons svg {
    width: 10px;  
    height: auto;
}