@font-face {
  font-family: "SuisseIntl Bold";
  src: url(../fonts/SuisseIntl-Bold.otf);
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl Regular";
  src: url(../fonts/SuisseIntl-Regular.otf);
  font-weight: 400;
  font-style: normal;
}

:root {
    --black: #000000;
}

#root {
    margin: unset;
    padding: unset;
    max-width: 100%;
}

body {
    font-family: "SuisseIntl Bold", sans-serif;
    background-color: #fff;
    color: var(--black);
    place-items: unset;
    text-align: unset;   
    display: block;
    min-width: 340px;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  overflow-anchor: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: inherit;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
    padding: 0px 24px 24px 48px;
    min-width: 340px;
    height: 100vh;
    height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    scroll-behavior: auto;
    -webkit-overflow-scrolling: touch;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* Кастомный скролл */

.container::-webkit-scrollbar {
  width: 10px; 
}

.container::-webkit-scrollbar-thumb {
  background-color: #5167f4;
  border-radius: 8px;

  border: 2px solid transparent; 
  background-clip: content-box;  
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-button {
  display: none;
}

/* Кастомный скролл для Firefox */

@-moz-document url-prefix() {
  * {
    scrollbar-color: #5167f4 white; 
    scrollbar-width: thin; 
  }
}



/* Адаптив */

@media (max-width: 600px) {
    .container {
      padding: 0px 12px 12px 24px;
    }
}

@media (max-width: 450px) {
    .container {
      padding: 0px 0px 8px 8px;
    }
}   